<div class="mt-4">
  <form method="GET" action="">
    <div class="form-group">
      <label for="exampleInputEmail1">Từ khoá</label>
      <input
        type="text"
        class="form-control"
        id="search-input"
        placeholder="Nhập từ khoá..."
        name="q"
      />
    </div>
    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
  </form>
</div>